@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "NotFound";
}


<div class="manage-container" id="manage-index-container">
    <div class="manage-container-background" id="manage-index">
        <h2 class="text-danger">We were not able to find what you were looking for. Are you sure you had the right link?</h2>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/Content/Stylesheets/identity.css" />
    <style>

    </style>
}
