@{
    ViewBag.Title = "EmailConfirmationSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="manage-container" id="manage-index-container">
    <div class="manage-container-background" id="manage-index">
        <h2>E-mail sent.</h2>
        <div>
            <p>
                Your e-mail confirmation has been sent to the address you provided. Please wait a few moments and check your inbox.
            </p>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/Content/Stylesheets/identity.css" />
    <style>
    </style>
}
