@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="manage-container" id="manage-index-container">
    <div class="manage-container-background" id="manage-index">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/Content/Stylesheets/identity.css" />
    <style>
        #manage-index a{
            color: white;
        }
        #manage-index a:link{
            text-decoration: underline;
        }
    </style>
}
